<script setup>
import GrandChild from './Grandchild.vue'
import { userNumberStore } from "../stores/numbers"
// import useNumbers from '../composables/useNumbers'

const {numbers, addNumber } = userNumberStore()


</script>

<template>
    <main>
        <div>
            <h1>Child Component {{ numbers }}</h1>
            <button @click="addNumber(4)">Add</button>
            <div class="line"></div>
            <GrandChild />
        </div>
    </main>
</template>