<script setup>
import GreatGrandChild from './Greatgrandchild.vue'
</script>

<template>
    <main>
        <div>
            <h1>Grand-Child Component</h1>
            <div class="line"></div>
            <GreatGrandChild />
        </div>
    </main>
</template>