<script setup>
import { userNumberStore } from "../stores/numbers"
// import useNumbers from '../composables/useNumbers'

const { numbers, filterNum } = userNumberStore()
</script>

<template>
    <main>
        <div>
            <h1>Great-Grand-Child Component {{ filterNum(4) }}</h1>
            <div class="line"></div>
        </div>
    </main>
</template>