<script setup>
    import Child from './Child.vue'
</script>

<template>
    <main>
        <div>
            <h1>Parent Component</h1>
            <div class="line"></div>
            <Child/>
        </div>
    </main>
</template>